body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.editor {
  font-family: consolas;
  font-weight: 300;
  font-size: 15px;
  padding: 10px;
  resize: none;
  min-height: 300px;
  background-color: #0a0a0a;
}

.myTextarea:focus {
  outline: none;
}
