body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
}

.editor {
  width: 50%;
  height: 300px;
  font-family: consolas;
  font-weight: 300;
  font-size: 15px;
  padding: 10px;
  resize: none;
  background-color: #0a0a0a;
  overflow: auto;
}

.myTextarea:focus {
  outline: none;
}
